
body {
  background-image:url('media/17929.jpg');
  background-position: center;
  background-size: cover;
  background-size: 100%vh;
  padding:0;
  margin: 0;
  font-family: 'Source Sans Pro';
}
main {
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  gap:8vh;
  margin-bottom: 50px;
}
header {
background-color: white;
max-width: 100%;
padding: 0.5% 5%;
z-index: 100;
}
header .nav-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}

/* - Header Logo - */
.logo {
width: 10rem;
}
/* - Navbar Menu - */
nav .nav-container .nav-tabs {
float: right;
list-style: none;
}
.nav-container ul li {
display: inline;
margin: 0 1.5rem;
}

.nav-tabs .nav-tab:nth-child(1) a {
text-decoration: none;
color:rgb(20, 61, 118);
font-weight: bold;
font-size: medium;
}
.nav-tabs .nav-tab a:hover{
color: #00a4d2;
}
.nav-tab a:visited {
  color: inherit;
}
.nav-tabs .nav-tab a button {
  background: #143d76;
  color: white;
  border-radius: 50px;
  width: 80px;
  height: 33px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.nav-tab a button:hover {
  border: 2px solid #143d76;
  color: #143d76;
  background: none;
  font-weight: bold;
}
.hidden {
display: none;
}

/*--main--*/
/*---title section---*/
main .title-section .title-container {
display: flex;
gap:19%;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
padding: 10rem 0 3rem 0;
}
.title-container .title {
color: #ffffff;
font-size: 32px;
font-style: normal;
font-weight: 700;
margin: auto;
}
.title-container .subtitle {
color: #ffffff;
font-size: 16px;
font-style: normal;
font-weight: 700;
margin-bottom: 4rem;
}
.title-container button {
color:  #fafafa;
width: 162px;
height: 44px;
border-radius: 50px;
background: none;
border: 2px solid white;
cursor: pointer;
font-size:  16px;
font-weight: 700;
text-align: center;
margin: 100px;
}
.title-container a button:hover {
  background:#f8fbff;
  color: #143d76;
}

.title-container p {
width: 50%;
color: #ffffff;
font-size: 16px;
font-weight: 400;
line-height: 26px;
justify-content: center;  
}


/* About us section styles */
.about-us-section {
  display: flex;
  flex-direction: row;
  padding: 1rem; 
}

.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.about-us-text {
  flex: 1;
}

.about-us-text h1 {
  color: #9fe4ff;
  text-align: center;
  font-size: 32px;
  margin: 3rem 0;
}

.about-us-text p {
  color: #9fe4ff;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.image-text-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* ========= FOOTER ========= */
.Footer-Section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 2rem 0 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.Footer-Section .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}
.footer-container .logo-footer {
  width: 11rem;
}
.footer-container .icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
.icons .Social-icon img {
  height: 1.7rem;
}
.Social-icon .icons img:hover {
  cursor: pointer;
}
.Footer-Section p {
  text-align: center;
  color: gray;
  font-size: 16px;
}

