<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='media/icon_biovista_remove.png') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='style_dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Dashboard : {{ username }}</title>
</head>
<body>
  <!-- Navbar -->
    <header>
        <div class="nav-wrapper">
            <div class="logo-container">
                <img class="logo" src="{{ url_for('static', filename='media/logo-removebg-preview.png') }}" alt="Logo">
            </div>
            <nav>
                <div class="nav-container">
                    <ul class="nav-tabs">
                        <li class="nav-tab nav-username"><a>{{ username }}</a></li>          
                        <li class="nav-tab"><a href="/logout" class="nav-link"><button>Logout <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                          </svg></button></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icons">
            <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
              <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
            </symbol>
        </svg>
    </header>
    <!-- End of navbar -->
    
    <main>
        <!-- Create Post Section --> 
        <form action="{{ url_for('create_post') }}" method="POST">
            <!-- Remove the label and input for the title -->
            <textarea id="content" name="content" placeholder=" Write a post ..." autocomplete="off" required></textarea><br>
            <input type="submit" value="Post">
        </form>
    
        <!-- Post Section -->
        <ul class="posts-list">
            {% for post_id, post in posts.items() %}
            <li class="post-section">
                <div class="username">
                    <a><i class="fas fa-user"></i>{{ post['username_post'] }}</a> <!-- Change this line -->
                </div>
                <p class="post">{{ post['content'] }}</p>
                <p class="post_date">Created at: {{ post['created_at'] }}</p>
                <hr style="border: none; height: 0.5px; background-color: #d8d8d8; margin: 20px 0;">

                <!-- Display comments with usernames -->
                <ul class="comments">
                    {% for comment in post['comments'] %}
                    <div class="username-reply">
                        <a><i class="fas fa-user"></i> {{ comment['username'] }}</a>
                    </div>
                    <li>{{ comment['comment_text'] }}</li>
                    <p class="comment_date">Created at: {{ comment['comment_created_at'] }}</p>
                    {% endfor %}
                </ul>

                <!-- Add comment section -->
                <div class="add_comment">
                    <div class="username_comment">
                        <a><i class="fas fa-user"></i></a>
                    </div>
                    <form action="{{ url_for('create_comment') }}" method="POST">
                        <input type="hidden" name="post_id" value="{{ post_id }}"> <!-- Hidden input to store post ID -->
                        <textarea name="comment_text" placeholder=" Add a comment..." required></textarea><br>
                        <input type="submit" value="Reply">
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>

    </main>

    <footer>
      <div class="Footer-Section">
          <div class="footer-container">
            <div class="logo-footer-container">
              <img class= "logo-footer" src="{{ url_for('static', filename='media/logo-removebg-preview.png') }}" alt="Logo image">
            </div>
            <div class="icons">
                  <a  class="Social-icon Facebook_icon" href="#"><img src="{{ url_for('static', filename='media/facebook_icon.png') }}" alt="Social_icon"/></a>
                  <a class="Social-icon Twitter_icon" href="#"><img src="{{ url_for('static', filename='media/x_icon.png') }}" alt="Social_icon"/></a>
                  <a class="Social-icon Instagram_icon" href="#"><img src="{{ url_for('static', filename='media/Instagram_icon.png') }}" alt="Social_icon"/></a>
            </div>
          </div>
          <p>© Biovista 2024</p>
      </div>
    </footer>

</body>
</html>

