<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='media/icon_biovista_remove.png') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='home.css') }}">
    <title>Biovista</title>
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <div class="logo-container">
                <img class="logo" src="{{ url_for('static', filename='media/logo-removebg-preview.png') }}" alt="Logo">
            </div>
            <nav>
                <input class="hidden" type="checkbox" id="menuToggle">
                <label class="menu-btn" for="menuToggle">
                    <div class="menu"></div>
                </label>
                <div class="nav-container">
                    <ul class="nav-tabs">
                        <li class="nav-tab"><a href="{{url_for('login')}}" class="nav-link"><button>Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <!--"Title section"-->
      <section class="title-section">
        <div class="title-container">
            <h1 class="title">Explore the Biomedical World with BioVista</h1>
            <h2 class="subtitle">The premier professional network for the biomedical engineering community</h2>
            <a href="{{url_for('register')}}"><button>Join us</button></a>
            <p>
                Connect with industry experts, discover new opportunities, and stay at the forefront of innovation. 
                Register now and unlock a world of possibilities in biomedical engineering!
            </p>

        </div>
    </section>

     <!--"About us" section-->
     <!-- About us section -->
<section class="about-us-section">
    <div class="about-us-container">
        <div class="about-us-text">
            <h1>Welcome to BioVista</h1>
            <p>Your premier destination for all things biomedical engineering. Our platform is more than just a space for blogging it's a vibrant community where professionals, enthusiasts, and learners come together to explore the latest advancements, share insights, and collaborate on groundbreaking projects. Whether you're a seasoned expert or just starting your journey in the field, BioVista offers a supportive environment where innovation thrives and knowledge knows no bounds. Join us as we embark on a quest to push the boundaries of biomedical engineering and shape the future of healthcare.</p>
        </div>
        <div class="image-text-content">
            <img src="./static/media/lady.png" alt="Team photo" class="about-us-image">
        </div>
    </div>
</section>

    </main>

    <footer>
        <div class="Footer-Section">
            <div class="footer-container">
                <div class="logo-footer-container">
                <img class= "logo-footer" src="{{ url_for('static', filename='media/logo-removebg-preview.png') }}" alt="Logo image">
                </div>
                <div class="icons">
                    <a  class="Social-icon Facebook_icon" href="#"><img src="{{ url_for('static', filename='media/facebook_icon.png') }}" alt="Social_icon"/></a>
                    <a class="Social-icon Twitter_icon" href="#"><img src="{{ url_for('static', filename='media/x_icon.png') }}" alt="Social_icon"/></a>
                    <a class="Social-icon Instagram_icon" href="#"><img src="{{ url_for('static', filename='media/Instagram_icon.png') }}" alt="Social_icon"/></a>
                </div>
                </div>
                <p>© Biovista 2024</p>
        </div>
    
    
    </footer>

</body>
</html>